<form [formGroup]="modifyRightsForm" (ngSubmit)="onmodifyRights()">

  <div class="flex-container">
    <div class="flex-item">
      <mat-label>Employee #</mat-label>
      <br>
      <mat-form-field>
        <input matInput formControlName="employeeNumber">
      </mat-form-field>
      <div *ngIf="(modifyRightsForm.controls['employeeNumber'].dirty || modifyRightsForm.controls['employeeNumber'].touched)">
        <div *ngIf="modifyRightsForm.controls['employeeNumber'].errors?.['required']">
          <mat-error>Employee Number is required.</mat-error>
        </div>
      </div>
    </div>

    <div class="flex-item">
      <mat-radio-group formControlName="grantAdminstratorRights">
        <mat-radio-button [value]="true">Grant Administrator Rights</mat-radio-button>
        <br>
        <mat-radio-button [value]="false">Revoke Administrator Rights</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="update-button">
    <button
      mat-raised-button
      type="submit"
      color="primary">
      Update
    </button>
  </div>
</form>
