<mat-toolbar color="secondary">
  <!-- <span> -->
    <div class = "logo">
      <img src="assets/images/Jantek-Logo.png" alt="Jantek-Logo">
    </div>
  <!-- </span> -->

  <!-- Display routes in the toolbar when there is enough space -->
  <div *ngIf="!isScreenSmall()">
    <span *ngFor="let link of navLinks" class="navbar-link" (click)="navigateTo(link.path)">
      {{ link.label }}
    </span>
    <span class="navbar-link" (click)="logoff()">
      Logoff
    </span>
  </div>

  <button mat-icon-button (click)="toggleSidenav()" *ngIf="isScreenSmall()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" position="end" [opened]="isSidenavOpen" (openedChange)="isSidenavOpen = $event">
    <mat-nav-list>
      <a mat-list-item *ngFor="let link of navLinks" [routerLink]="link.path" (click)="toggleSidenav()">{{ link.label }}</a>
      <a mat-list-item (click)="logoff()">Logoff</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
