<form [formGroup]="deleteUserForm" (ngSubmit)="onDeleteUser()">

  <div class="flex-container">
    <div class="flex-item">
      <mat-label>Employee #</mat-label>
      <br>
      <mat-form-field>
        <input matInput formControlName="employeeNumber">
      </mat-form-field>
      <div *ngIf="(deleteUserForm.controls['employeeNumber'].dirty || deleteUserForm.controls['employeeNumber'].touched)">
        <div *ngIf="deleteUserForm.controls['employeeNumber'].errors?.['required']">
          <mat-error>Employee Number is required.</mat-error>
        </div>
      </div>
    </div>
  </div>

  <div class="delete-button">
    <button
      mat-raised-button
      type="submit"
      color="primary">
      Delete
    </button>
  </div>
</form>
