<form [formGroup]="changePasswordForm" (ngSubmit)="onchangePassword()">

  <div class="flex-container">
    <div class="flex-item">
      <mat-label>Employee #</mat-label>
      <br>
      <mat-form-field>
        <input matInput formControlName="employeeNumber">
      </mat-form-field>
      <div *ngIf="(changePasswordForm.controls['employeeNumber'].dirty || changePasswordForm.controls['employeeNumber'].touched)">
        <div *ngIf="changePasswordForm.controls['employeeNumber'].errors?.['required']">
          <mat-error>Employee Number is required.</mat-error>
        </div>
      </div>
    </div>

    <div class="flex-item">
      <mat-label>Password</mat-label>
      <br>
      <mat-form-field>
        <input matInput formControlName="password">
      </mat-form-field>
      <div *ngIf="(changePasswordForm.controls['password'].dirty || changePasswordForm.controls['password'].touched)">
        <div *ngIf="changePasswordForm.controls['password'].errors?.['required']">
          <mat-error>Password is required.</mat-error>
        </div>
      </div>
    </div>

    <div class="flex-item">
      <mat-label>Confirm your password</mat-label>
      <br>
      <mat-form-field>
        <input matInput formControlName="confirmPassword">
      </mat-form-field>
      <div *ngIf="(changePasswordForm.controls['confirmPassword'].dirty || changePasswordForm.controls['confirmPassword'].touched)">
        <div *ngIf="changePasswordForm.controls['confirmPassword'].errors?.['required']">
          <mat-error>Please confirm your password</mat-error>
        </div>
      </div>
    </div>
  </div>

  <div class="update-button">
    <button
      mat-raised-button
      type="submit"
      color="primary">
      Update
    </button>
  </div>
</form>
